[submodule "external/bootstrap"]
	path = external/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "external/htmx"]
	path = external/htmx
	url = https://github.com/bigskysoftware/htmx
[submodule "external/bootstrap-icons"]
	path = external/bootstrap-icons
	url = https://github.com/twbs/icons
[submodule "external/bootswatch"]
	path = external/bootswatch
	url = https://github.com/thomaspark/bootswatch
