{{ define "editTaskModal" }}
<div class="modal-content" id="editTaskForm">
  <form hx-patch="/api/tasks">
    <div class="modal-header position-relative">
      <h1 class="modal-title fs-5">Edit task</h1>
      <div class="position-absolute top-50 end-0 translate-middle me-2"></div>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
      <input type="hidden" name="taskId" value="{{ .Id }}"/>
      <input
        type="text"
        class="form-control"
        name="taskDescription"
        placeholder="Enter task description"
        value="{{ .Description }}"
      />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">
        Ok
      </button>
    </div>
  </form>
</div>
{{ end }}
