{{ define "editTaskModal" }}
<div class="modal-content" id="editTaskForm">
  <form
    hx-disabled-elt="
      find input[name='taskDescription'],
      find button[type='button'].btn-secondary,
      find button[type='submit']
    "
    hx-indicator="#ok-btn-icon"
    hx-patch="/api/tasks"
    >
    <div class="modal-header position-relative">
      <h1 class="modal-title fs-5">Edit task</h1>
      <button
        class="btn-close" 
        type="button" 
        data-bs-dismiss="modal" 
        >
      </button>
    </div>
    <div class="modal-body">
      <input type="hidden" name="taskId" value="{{ .Id }}"/>
      <input
        type="text"
        class="form-control"
        name="taskDescription"
        placeholder="Enter task description"
        value="{{ .Description }}"
      />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        <i class="bi bi-x-lg"></i>
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-check-lg" id="ok-btn-icon"></i>
        <div class="spinner-border spinner-border-sm"></div>
        Ok
      </button>
    </div>
  </form>
</div>
{{ end }}
