{{ define "editTaskPlaceholder" }} 
<div class="fade modal modal-blur" id="htmxModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" id="editTaskHtmx">
    <div class="modal-content htmx-indicator" id="editTaskPlaceholder">
      <div class="modal-header position-relative">
        <h1 class="modal-title fs-5">Edit task</h1>
        <div class="position-absolute top-50 end-0 translate-middle me-2">
          <div class="spinner-border spinner-border-sm text-secondary"></div>
        </div>
      </div>
      <div class="modal-body">
        <input class="form-control" type="text" disabled>
        </input>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" disabled>
          Cancel
        </button>
        <button class="btn btn-primary" disabled>
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
{{ end }}
