{{ define "task-multiple-actions" }}
	<ul class="dropdown-menu shadow-sm">
		<!-- Lock -->
		<li>
			<button
				class="dropdown-item text-info"
				type="button"
				hx-patch="/htmx/tasks"
				hx-vals='{ "read-only": true }'
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-disabled-elt=".htmx-disable"
				hx-confirm="Lock multiple tasks?"
			>
				<i class="bi bi-lock-fill me-2"></i>
				Lock
			</button>
		</li>
		<!-- Unlock -->
		<li>
			<button
				class="dropdown-item text-info"
				type="button"
				hx-patch="/htmx/tasks"
				hx-vals='{ "read-only": false }'
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-disabled-elt=".htmx-disable"
				hx-confirm="Unlock multiple tasks?"
			>
				<i class="bi bi-unlock-fill me-2"></i>
				Unlock
			</button>
		</li>
		<li>
			<hr class="dropdown-divider" />
		</li>
		<li>
			<h6 class="dropdown-header">Change status to:</h6>
		</li>
		<!-- In progress -->
		<li>
			<button
				class="dropdown-item"
				type="button"
				hx-patch="/htmx/tasks"
				hx-vals='{ "status": "InProgress" }'
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-confirm="Update multiple tasks?"
			>
				<i class="bi bi-clock me-2"></i>
				In progress
			</button>
		</li>
		<!-- Done -->
		<li>
			<button
				class="dropdown-item text-success"
				type="button"
				hx-patch="/htmx/tasks"
				hx-vals='{ "status": "Done" }'
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-confirm="Update multiple tasks?"
			>
				<i class="bi bi-check2-circle me-2"></i>
				Done
			</button>
		</li>
		<!-- Failed -->
		<li>
			<button
				class="dropdown-item text-danger"
				type="button"
				hx-patch="/htmx/tasks"
				hx-vals='{ "status": "Failed" }'
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-confirm="Fail multiple tasks?"
			>
				<i class="bi bi-emoji-angry-fill me-2"></i>
				Failed
			</button>
		</li>
		<li>
			<hr class="dropdown-divider" />
		</li>
		<!-- Delete -->
		<li>
			<button
				class="dropdown-item text-danger"
				type="button"
				hx-delete="/htmx/tasks"
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-confirm="Delete multiple tasks?"
			>
				<i class="bi bi-trash-fill me-2"></i>
				Delete
			</button>
		</li>
	</ul>
{{ end }}
