{{ define "taskTable" }}
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th class="text-center">#</th>
      <th class="text-center">What</th>
      <th class="text-center">When</th>
      <th class="text-center">Who</th>
      <th class="text-center">Done</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{ range .Tasks }}
      <tr class="align-middle">
        <td class="text-center">
          <input class="form-check-input" type="checkbox" value="">
        </td>
        <td class="text-center">{{ .Id }}</td>
        <td class="text-center">{{ .Description }}</td>
        <td class="text-center">{{ .DatetimeFormatted }}</td>
        <td class="text-center">{{ .User }}</td>
        <td class="text-center">
          {{ if .Done }}
            <i class="bi bi-check2-circle text-success"></i>
          {{ end }}
        </td>
        <td class="text-center">
          <div class="dropdown-center">
            <a href="javascript:void(0)" data-bs-toggle="dropdown">
              <i class="bi bi-three-dots-vertical fs-5"></i>
            </a>
            <ul class="dropdown-menu shadow-sm">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Clone</a></li>
              <li><a class="dropdown-item" href="#">Done</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="#">Delete</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
