{{ define "task-list" }}
<!-- More than zero tasks found -->
{{ if gt (len .Tasks) 0 }}
	<form>
		<table class="table table-striped">
			<thead class="sticky-top">
				<tr>
					<th class="text-center align-middle checkbox">
						<input
							id="select-all-tasks"
							class="form-check-input"
							type="checkbox"
							value=""
						/>
					</th>
					<th class="text-center align-middle task-id">#</th>
					<th class="text-center align-middle">
						<a
							hx-patch="/filters/sortBy/0"
							hx-target="#task-list"
							hx-indicator="#task-list"
							href="#"
						>
							What
						</a>
						{{ if eq .Payload.SortBy 0 }}
							{{ if eq .Payload.SortAsc true }}
								<i class="bi bi-sort-down-alt"></i>
							{{ else }}
								<i class="bi bi-sort-down"></i>
							{{ end }}
						{{ end }}
					</th>
					<th class="text-center align-middle datetime">
						<a
							hx-patch="/filters/sortBy/1"
							hx-target="#task-list"
							hx-indicator="#task-list"
							href="#"
						>
							When
						</a>
						{{ if eq .Payload.SortBy 1 }}
							{{ if eq .Payload.SortAsc true }}
								<i class="bi bi-sort-down-alt"></i>
							{{ else }}
								<i class="bi bi-sort-down"></i>
							{{ end }}
						{{ end }}
					</th>
					<th class="text-center align-middle">Who</th>
					<th class="text-center align-middle done">Done</th>
					<th class="text-center align-middle actions">Actions</th>
				</tr>
			</thead>
			<tbody class="table-group-divider" id="task-table-body">
				{{ template "task-table-body" .Tasks }}
			</tbody>
		</table>
	</form>
	<!-- Pagination -->
	{{ template "pagination" . }}
	<!-- Nothing found -->
	{{ else }}
		{{ template "task-empty" . }}
	{{ end }}
{{ end }}
