{{ define "task-filters" }}
	<div class="d-flex gap-2 align-items-center justify-content-between" id="filters">
		<!-- Page size -->
		<div class="d-flex align-items-center gap-2">
			<label class="text-nowrap" for="task-list-size">Page size:</label>
			<select
				class="form-select w-auto"
				id="task-list-size"
				name="size"
				autocomplete="off"
				hx-patch="/filters/page-size"
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-disabled-elt=".htmx-disable"
			>
				{{ range .PageSizes }}
					<option {{ if eq $.Payload.PageSize . }} selected {{ end }}	value="{{ . }}">
						{{ . }}
					</option>
				{{ end }}
			</select>
		</div>
		<!-- Search input -->
		<div class="input-group">
			<input
				class="form-control"
				type="text"
				name="searchBy"
				size="32"
				hx-patch="/filters/searchBy"
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-disabled-elt=".htmx-disable"
				hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
				value="{{ .Payload.SearchBy }}"
			/>
			<i class="input-group-text bi bi-search"></i>
		</div>
		<!-- Dates -->
		<div id="filter-date">
			{{ template "task-dates" . }}
		</div>
		<div class="d-flex gap-1">
			<!-- Add task -->
			<button
				class="btn btn-primary"
				type="button"
				data-bs-toggle="tooltip"
				data-bs-placement="top"
				data-bs-trigger="hover"
				hx-get="/htmx/add-task"
				hx-target="#modal > div:first-child"
				hx-indicator="#add-task-placeholder"
				hx-swap="beforeend"
				onclick="showHTMXModal()"
				title="Add task"
			>
				<i class="bi bi-plus-lg fs-4"></i>
			</button>
			<!-- Refresh tasks -->
			<button
				class="btn btn-primary htmx-disable"
				type="button"
				data-bs-toggle="tooltip"
				data-bs-placement="top"
				data-bs-trigger="hover"
				title="Refresh tasks"
				hx-get="/htmx/tasks"
				hx-target="#task-list"
				hx-indicator="#task-list"
				hx-disabled-elt=".htmx-disable"
			>
				<i class="bi bi-arrow-repeat fs-4"></i>
			</button>
		</div>
	</div>
{{ end }}
