{{ define "taskTable" }}
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center align-middle">
        <input class="form-check-input" type="checkbox" value="">
      </th>
      <th class="text-center align-middle">#</th>
      <th class="text-center align-middle">What</th>
      <th class="text-center align-middle">When</th>
      <th class="text-center align-middle">Who</th>
      <th class="text-center align-middle">Done</th>
      <th class="text-center align-middle">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{ range .Tasks }}
      <tr>
        <td class="text-center align-middle">
          <input class="form-check-input" type="checkbox" value="">
        </td>
        <td class="text-center align-middle">{{ .Id }}</td>
        <td class="text-center align-middle">{{ .Description }}</td>
        <td class="text-center align-middle">{{ .DatetimeFormatted }}</td>
        <td class="text-center align-middle">{{ .User }}</td>
        <td class="text-center align-middle">
          {{ if .Done }}
            <i class="bi bi-check2-circle text-success"></i>
          {{ end }}
        </td>
        <td class="text-center align-middle">
          <div class="dropdown-center">
            <button class="btn btn-link" data-bs-toggle="dropdown">
              <i class="bi bi-three-dots-vertical fs-5"></i>
            </button>
            <ul class="dropdown-menu shadow-sm">
              <li>
                <button class="dropdown-item" onclick="showEditTaskModal({{ .Id }})">
                  <i class="bi bi-pencil-fill me-2"></i>
                  Edit
                </button>
              </li>
              <li>
                <button 
                  class="dropdown-item"
                  hx-get="/api/edit-task"
                  hx-target="#htmxModalDialog"
                  hx-indicator="#htmxModalSpinner"
                  onclick="showHTMXModal()"
                  >
                  Clone
                </button>
              </li>
              <li>
                <button class="dropdown-item text-success">
                  <i class="bi bi-check2-circle me-2"></i>
                  Mark as "done"
                </button>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="dropdown-item text-danger">
                  <i class="bi bi-trash-fill me-2"></i>
                  Delete
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
