{{ define "toast" }}
<div class="toast-header {{ .HeaderClass }}">
  <i class="bi me-2 {{ .IconClass }} {{ .IconColor }}"></i>
  <strong class="me-auto">
    {{ .Title }}
  </strong>
  <small>
    {{ .Time }}
  </small>
  <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
</div>
<div class="d-none" style="height: 3px;">
  <div
    class="progress-bar {{ .ProgressBarClass }}"
    style="width: 0%; transition: width 10s linear;">
  </div>
</div>
<div class="toast-body">
  {{ .Content }}
</div>
{{ end }}
