{{ define "page" }}
<div class="d-flex vh-100">
	<div class="card m-auto shadow shadow-sm">
		<div class="card-header text-center position-relative">todoer</div>
		<div class="card-body">
			<form
				hx-disabled-elt="
					find input[name='username'],
					find input[name='password'],
					find .toggle-password-btn,
					find input[name='rememberMe'],
					find button[type='submit']"
				hx-indicator="#login-btn-icon"
				hx-post="/login"
				hx-swap="none"
			>
				<div class="d-flex flex-column gap-2">
					<div class="input-group">
						<i class="input-group-text bi bi-person-fill"></i>
						<div class="form-floating">
							<input
								type="text"
								class="form-control"
								id="username"
								name="username"
								autocomplete="username"
								placeholder="username"
								size="48"
								autofocus
							/>
							<label for="username">Username</label>
						</div>
					</div>
					<div class="input-group">
						<i class="input-group-text bi bi-lock-fill"></i>
						<div class="form-floating">
							<input
								type="password"
								class="form-control"
								id="password"
								name="password"
								autocomplete="password"
								placeholder="password"
							/>
							<label for="password">Password</label>
						</div>
						<button
							class="btn btn-primary toggle-password-btn"
							type="button"
							data-bs-toggle="tooltip"
							data-bs-placement="right"
							data-bs-trigger="hover"
							title="Show or hide password"
						>
							<i class="bi bi-eye-fill"></i>
						</button>
					</div>
					<div class="d-flex flex-row align-items-center gap-2 justify-content-between">
						<div class="form-check">
							<input
								class="form-check-input"
								id="remember-me"
								name="remember-me"
								type="checkbox"
							/>
							<label class="form-check-label" for="remember-me">
								Remember me
							</label>
						</div>
						<button class="btn btn-primary" type="submit">
							<i class="bi bi-box-arrow-in-right"	id="login-btn-icon"></i>
							<div class="spinner-border spinner-border-sm"></div>
							Log in
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{ end }}
