{{ define "page" }}
<div class="d-flex vh-100">
  <div class="card m-auto shadow shadow-sm">
    <div class="card-header text-center">
      <h5>todoer</h5>
      <div
        id="spinner"
        class="spinner-border spinner-border-sm text-secondary position-absolute top-0 end-0 m-3">
      </div>
    </div>
    <div class="card-body">
      <form 
        hx-post="/api/login"
        hx-disabled-elt="
          find input[name='username'],
          find input[name='password'],
          find .toggle-password-btn,
          find input[name='rememberMe'],
          find button[type='submit']
        "
        hx-indicator="#spinner"
      >
        <div class="d-flex flex-column gap-2">
          <div class="input-group">
            <i class="input-group-text bi bi-person-fill"></i>
            <input 
              class="form-control" 
              name="username" 
              type="text" 
              size="32"
              autofocus
            />
          </div>
          <div class="input-group">
            <i class="input-group-text bi bi-lock-fill"></i>
            <input class="form-control" name="password" type="password"/>
            <button
              class="btn btn-primary toggle-password-btn"
              type="button" 
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-trigger="hover"
              title="Show or hide password"
            >
              <i class="bi bi-eye-fill"></i>
            </button>
          </div>
          <div class="d-flex flex-row align-items-center gap-4">
            <div class="form-check">
              <input 
                class="form-check-input"
                id="rememberMe"
                name="rememberMe" 
                type="checkbox"
              >
              <label class="form-check-label" for="rememberMe">
                Remember me
              </label>
            </div>
            <button class="btn btn-primary flex-fill" type="submit" />
              Log in
              <i class="bi bi-box-arrow-right" id="login-btn-icon"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
