{{ define "page" }}
	<template id="foo">
		<ul class="p-1">
			<li class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="filter-finished"
					checked
					hx-get="/htmx/tasks"
					hx-target="#task-list"
					hx-indicator="#task-list"
				/>
				<label class="form-check-label" for="filter-finished">
					Finished
				</label>
			</li>
			<li class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="filter-unfinished"
					checked
				/>
				<label class="form-check-label" for="filter-unfinished">
					Unfinished
				</label>
			</li>
		</ul>
	</template>

	<main class="col-xl-7 col-md-100 m-auto">
		<header class="align-items-center d-flex justify-content-between p-2">
			<div class="d-flex gap-3 align-items-center">
				<img class="logo" src="/img/goose.webp" />
				<h2>
					<a href="/">todoer</a>
				</h2>
			</div>
			{{ template "usercard" . }}
		</header>
		<div class="card shadow-sm">
			<div class="card-header text-center">
				<strong>Tasks</strong>
			</div>
			<div class="card-body">
				{{ template "task-filters" . }}
				<hr />
				<div id="task-list">{{ template "task-list" . }}</div>
				<script>
					createSelectAllGroup("#select-all-tasks", ".select-task");
				</script>
			</div>
		</div>
	</main>
{{ end }}
