<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link href="/css/reset.css" rel="stylesheet">
    <!-- htmx -->
    <script defer src="/vendor/htmx.min.js"></script>
    <script defer src="/vendor/bootstrap.bundle.min.js"></script>
    <!-- Funky Bootstrap -->
    <link rel="stylesheet" href="/vendor/lumen.min.css">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="/vendor/bootstrap-icons.min.css">
    <!-- js -->
    <script defer src="/js/script.js"></script>
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ template "page" . }}
  </body>
</html>
