{{ define "pagination" }}
	<div class="d-flex justify-content-between align-items-center">
		<!-- Previous page -->
		{{ if gt .TotalPages 1 }}
			<button
				class="btn btn-primary"
				type="button"
				id="previous-page"
				data-bs-toggle="tooltip"
				data-bs-placement="left"
				data-bs-trigger="hover"
				title="Previous page"
				{{ if ne .Payload.Page 1 }}
					hx-patch="/filters/previous-page"
					hx-target="#task-list"
					hx-indicator="#task-list"
				{{ else }}
					disabled
				{{ end }}
			>
				<i class="bi bi-chevron-left"></i>
			</button>
		{{ end }}
		<!-- Pages -->
		<ul class="pagination m-auto">
			{{ range .Pagination }}
				{{ if eq . 0 }}
					<i class="bi bi-three-dots fs-4 text-secondary"></i>
				{{ else }}
					<li class="page-item">
						<button
							class="page-link {{ if eq $.Payload.Page . }} active {{ end }}"
							type="button"
							id="page-{{ . }}"
							{{ if ne $.Payload.Page . }}
								hx-patch="/filters/page/{{ . }}"
								hx-target="#task-list"
								hx-indicator="#task-list"
							{{ end }}
						>
							{{ . }}
						</button>
					</li>
				{{ end }}
			{{ end }}
		</ul>
		<!-- Next page -->
		{{ if gt .TotalPages 1 }}
			<button
				class="btn btn-primary"
				type="button"
				id="next-page"
				data-bs-toggle="tooltip"
				data-bs-placement="right"
				data-bs-trigger="hover"
				title="Next page"
				{{ if ne .Payload.Page .TotalPages }}
					hx-patch="/filters/next-page"
					hx-target="#task-list"
					hx-indicator="#task-list"
				{{ else }}
					disabled
				{{ end }}
			>
				<i class="bi bi-chevron-right"></i>
			</button>
		{{ end }}
	</div>
{{ end }}
