{{ define "task-dates" }}
	<div class="d-flex align-items-center">
		<!-- From -->
		<input
			class="form-control"
			type="date"
			name="from-date"
			autocomplete="off"
			hx-patch="/filters/date"
			hx-target="#task-list"
			hx-indicator="#task-list"
			hx-disabled-elt=".htmx-disable"
			value="{{ .Payload.FromDate }}"
		/>
		<i class="bi bi-slash-lg"></i>
		<!-- To -->
		<input
			class="form-control"
			type="date"
			name="to-date"
			autocomplete="off"
			hx-patch="/filters/date"
			hx-target="#task-list"
			hx-indicator="#task-list"
			hx-disabled-elt=".htmx-disable"
			value="{{ .Payload.ToDate }}"
		/>
		<!-- Presets -->
		<div class="dropdown-center">
			<button
				class="btn btn-link"
				data-bs-toggle="dropdown"
				data-bs-target="img.logo"
			>
				<i class="bi bi-three-dots-vertical fs-5"></i>
			</button>
			<ul class="dropdown-menu shadow-sm">
				<li>
					<button
						class="dropdown-item"
						hx-patch="/filters/date"
						hx-target="#task-list"
						hx-indicator="#task-list, #filter-date"
						hx-disabled-elt=".htmx-disable"
						hx-vals='{"from-date": "{{ getFirstDayOfMonth }}", "to-date": "{{ getLastDayOfMonth }}"}'
					>
						This month
					</button>
				</li>
				<li>
					<button
						class="dropdown-item"
						hx-patch="/filters/date"
						hx-target="#task-list"
						hx-indicator="#task-list, #filter-date"
						hx-disabled-elt=".htmx-disable"
						hx-vals='{"from-date": "{{ getFirstDayOfPreviousMonth }}", "to-date": "{{ getLastDayOfPreviousMonth }}"}'
					>
						Previous month
					</button>
				</li>
				<li>
					<hr class="dropdown-divider" />
				</li>
				<li>
					<button
						class="dropdown-item"
						hx-patch="/filters/date"
						hx-target="#task-list"
						hx-indicator="#task-list, #filter-date"
						hx-disabled-elt=".htmx-disable"
						hx-vals='{"from-date": "{{ getToday }}", "to-date": "{{ getToday }}"}'
					>
						Today
					</button>
				</li>
				<li>
					<button
						class="dropdown-item"
						hx-patch="/filters/date"
						hx-target="#task-list"
						hx-indicator="#task-list, #filter-date"
						hx-disabled-elt=".htmx-disable"
						hx-vals='{"from-date": "{{ getYesterday }}", "to-date": "{{ getYesterday }}"}'
					>
						Yesterday
					</button>
				</li>
			</ul>
		</div>
	</div>
{{ end }}
