{{ define "task" }}
	<td class="text-center align-middle">{{ .Id }}</td>
	<td class="text-center align-middle">{{ .Description }}</td>
	<td class="text-center align-middle">{{ formatDatetime .Datetime }}</td>
	<td class="text-center align-middle">{{ .User }}</td>
	<td class="text-center align-middle">
		{{ if eq .Status 1 }}
			<i class="bi bi-check2-circle text-success"></i>
		{{ else if eq .Status 2 }}
			<i class="bi bi-emoji-angry-fill text-danger"></i>
		{{ end }}
	</td>
	<td class="text-center align-middle">
		<!-- Actions -->
		<div class="dropdown-center">
			<button
				class="btn btn-link htmx-disable"
				type="button"
				data-bs-toggle="dropdown"
			>
				<i class="bi bi-three-dots-vertical fs-5"></i>
			</button>
			<ul class="dropdown-menu shadow-sm">
				<li>
					<button
						class="dropdown-item"
						hx-get="/htmx/edit-task/{{ .Id }}"
						hx-indicator="#edit-task-placeholder"
						hx-swap="beforeend"
						hx-target="#modal > div:first-child"
						onclick="showHTMXModal()"
					>
						<i class="bi bi-pencil-fill me-2"></i>
						Edit
					</button>
				</li>
				<li>
					<button
						class="dropdown-item"
						hx-get="/htmx/clone-task/{{ .Id }}"
						hx-indicator="#clone-task-placeholder"
						hx-swap="beforeend"
						hx-target="#modal > div:first-child"
						onclick="showHTMXModal()"
					>
						<i class="bi bi-copy me-2"></i>
						Clone
					</button>
				</li>
				<li>
					<hr class="dropdown-divider" />
				</li>
				<li>
					<h6 class="dropdown-header">Change status to:</h6>
				</li>
				{{ if ne .Status 0 }}
					<li>
						<button
							class="dropdown-item"
							type="button"
							hx-patch="/htmx/tasks/{{ .Id }}/status"
							hx-target="#task-list"
							hx-indicator="#task-list"
							hx-disabled-elt=".htmx-disable"
							hx-vals='{ "status": "InProgress" }'
						>
							In progress
						</button>
					</li>
				{{ end }}
				{{ if ne .Status 1 }}
					<li>
						<button
							class="dropdown-item text-success"
							type="button"
							hx-patch="/htmx/tasks/{{ .Id }}/status"
							hx-target="#task-list"
							hx-indicator="#task-list"
							hx-disabled-elt=".htmx-disable"
							hx-vals='{ "status": "Done" }'
						>
							<i class="bi bi-check2-circle me-2"></i>
							Done
						</button>
					</li>
				{{ end }}
				{{ if ne .Status 2 }}
					<li>
						<button
							class="dropdown-item text-danger"
							type="button"
							hx-patch="/htmx/tasks/{{ .Id }}/status"
							hx-target="#task-list"
							hx-indicator="#task-list"
							hx-disabled-elt=".htmx-disable"
							hx-vals='{ "status": "Failed" }'
						>
							<i class="bi bi-emoji-angry-fill me-2"></i>
							Failed
						</button>
					</li>
				{{ end }}
				<li>
					<hr class="dropdown-divider" />
				</li>
				<li>
					<button
						class="dropdown-item text-danger"
						type="button"
						hx-delete="/htmx/tasks/{{ .Id }}"
						hx-target="#task-list"
						hx-indicator="#task-list"
						hx-disabled-elt=".htmx-disable"
						hx-trigger="confirmed"
						onclick="htmxConfirmMsg(this, 'Delete task', 'Delete task #{{ .Id }}?')"
					>
						<i class="bi bi-trash-fill me-2"></i>
						Delete
					</button>
				</li>
			</ul>
		</div>
	</td>
{{ end }}
