{{ define "task-list" }}
	<!-- More than zero tasks found -->
	{{ if gt (len .Tasks) 0 }}
		<form>
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="text-center align-middle select-all position-relative">
							<!-- Select all tasks -->
							<input
								class="form-check-input htmx-disable"
								type="checkbox"
								id="select-all-tasks"
								autocomplete="off"
							/>
							<button
								class="btn btn-link position-absolute htmx-disable"
								data-bs-toggle="dropdown"
								style="top: .5rem"
							>
								<i class="bi bi-caret-down-fill"></i>
							</button>
							<ul class="dropdown-menu shadow-sm">
								<li>
									<h6 class="dropdown-header">Change status to:</h6>
								</li>
								<li>
									<button
										class="dropdown-item"
										type="button"
										hx-patch="/htmx/tasks"
										hx-vals='{ "status": "InProgress" }'
										hx-target="#task-list"
										hx-indicator="#task-list"
										hx-trigger="confirmed"
										onclick="htmxConfirmMsg(this, 'Update multiple tasks', 'Are you sure?')"
									>
										In progress
									</button>
								</li>
								<li>
									<button
										class="dropdown-item text-success"
										type="button"
										hx-patch="/htmx/tasks"
										hx-vals='{ "status": "Done" }'
										hx-target="#task-list"
										hx-indicator="#task-list"
										hx-trigger="confirmed"
										onclick="htmxConfirmMsg(this, 'Update multiple tasks', 'Are you sure?')"
									>
										<i class="bi bi-check2-circle me-2"></i>
										Done
									</button>
								</li>
								<li>
									<button
										class="dropdown-item text-danger"
										type="button"
										hx-patch="/htmx/tasks"
										hx-vals='{ "status": "Failed" }'
										hx-target="#task-list"
										hx-indicator="#task-list"
										hx-trigger="confirmed"
										onclick="htmxConfirmMsg(this, 'Update multiple tasks', 'Are you sure?')"
									>
										<i class="bi bi-emoji-angry-fill me-2"></i>
										Failed
									</button>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<button
										class="dropdown-item text-danger"
										type="button"
										hx-delete="/htmx/tasks"
										hx-target="#task-list"
										hx-indicator="#task-list"
										hx-trigger="confirmed"
										onclick="htmxConfirmMsg(this, 'Delete multiple tasks', 'Are you sure?')"
									>
										<i class="bi bi-trash-fill me-2"></i>
										Delete
									</button>
								</li>
							</ul>
						</th>
						<th class="text-center align-middle task-id">#</th>
						<th class="text-center align-middle">
							<!-- Sort by description -->
							<button
								class="btn btn-link dotted htmx-disable"
								type="button"
								hx-patch="/filters/sort-by/0"
								hx-target="#task-list"
								hx-indicator="#task-list"
								hx-disabled-elt=".htmx-disable"
							>
								What
								{{ if eq .Payload.SortBy 0 }}
									{{ if eq .Payload.SortAsc true }}
										<i class="bi bi-sort-down-alt"></i>
									{{ else }}
										<i class="bi bi-sort-down"></i>
									{{ end }}
								{{ end }}
							</button>
						</th>
						<th class="text-center align-middle datetime">
							<!-- Sort by date -->
							<button
								class="btn btn-link dotted htmx-disable"
								type="button"
								hx-patch="/filters/sort-by/1"
								hx-target="#task-list"
								hx-indicator="#task-list"
								hx-disabled-elt=".htmx-disable"
							>
								When
								{{ if eq .Payload.SortBy 1 }}
									{{ if eq .Payload.SortAsc true }}
										<i class="bi bi-sort-down-alt"></i>
									{{ else }}
										<i class="bi bi-sort-down"></i>
									{{ end }}
								{{ end }}
							</button>
						</th>
						<th class="text-center align-middle">Who</th>
						<th class="text-center align-middle status">
							<button
								class="btn btn-link dotted"
								type="button"
								id="filter-task-by-status-btn"
								data-bs-toggle="popover"
								data-bs-placement="bottom"
							>
								Status
							</button>
						</th>
						<th class="text-center align-middle actions">Actions</th>
					</tr>
				</thead>
				<tbody class="table-group-divider" id="task-table-body">
					{{ range $index, $task := .Tasks }}
						<tr id="task-{{ $task.Id }}">
							<!-- Select task checkbox -->
							<td class="text-center align-middle">
								<input
									class="form-check-input select-task htmx-disable"
									type="checkbox"
									name="checked"
									value="{{ $task.Id }}"
									autocomplete="off"
									{{ if index $.Checkboxes $index }}
										checked
									{{ end }}
								/>
							</td>
							{{ template "task" $task }}
						</tr>
					{{ end }}
				</tbody>
			</table>
			<script>
				createSelectAllGroup("form.htmx-added #select-all-tasks", "form.htmx-added .select-task")
				initPopover("#filter-task-by-status-btn", "#foo")
			</script>
		</form>
		<!-- Pagination -->
		{{ template "pagination" . }}
	{{ else }}
	 	<!-- Nothing found -->
		{{ template "task-empty" . }}
	{{ end }}
{{ end }}
