{{ define "task-filters" }}
<div class="d-flex gap-2 align-items-center justify-content-between">
	<!-- Page size -->
	<div class="d-flex align-items-center gap-2">
		<label class="text-nowrap" for="task-list-size">Page size:</label>
		<select
			class="form-select w-auto"
			id="task-list-size"
			name="size"
			hx-patch="/filters/page-size"
			hx-target="#task-list"
			hx-indicator="#task-list"
		>
			{{ range .PageSizes }}
			<option {{ if eq $.Payload.PageSize . }} selected {{ end }}	value="{{ . }}">
				{{ . }}
			</option>
			{{ end }}
		</select>
	</div>
	<!-- Search input -->
	<div class="input-group">
		<input
			class="form-control"
			name="searchBy"
			type="text"
			size="32"
			hx-patch="/filters/searchBy"
			hx-target="#task-list"
			hx-indicator="#task-list"
			hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
			value="{{ .Payload.SearchBy }}"
		/>
		<i class="input-group-text bi bi-search"></i>
	</div>
	<!-- Dates -->
	<span id="filter-date">
		{{ template "task-dates" . }}
	</span>
	<div class="d-flex gap-1">
		<!-- Add task -->
		<button
			class="btn btn-primary"
			type="button"
			data-bs-toggle="tooltip"
			data-bs-placement="top"
			data-bs-trigger="hover"
			hx-get="/htmx/add-task"
			hx-indicator="#add-task-placeholder"
			hx-swap="beforeend"
			hx-target="#modal > div:first-child"
			onclick="showHTMXModal()"
			title="Add task"
		>
			<i class="bi bi-plus-lg fs-4"></i>
		</button>
		<!-- Refresh tasks -->
		<button
			class="btn btn-primary"
			type="button"
			data-bs-toggle="tooltip"
			data-bs-placement="top"
			data-bs-trigger="hover"
			title="Refresh tasks"
			hx-get="/htmx/tasks"
			hx-target="#task-list"
			hx-indicator="#task-list"
		>
			<i class="bi bi-arrow-repeat fs-4"></i>
		</button>
	</div>
</div>
{{ end }}
