{{ define "editTaskForm" }}
	<div class="modal-content" id="edit-task-form">
		<form
			hx-put="/hx/tasks/{{ .Task.Id }}"
			hx-target="#task-list"
			hx-indicator="#ok-btn-icon"
			hx-disabled-elt=".htmx-disable"
			hx-include="#task-list-form"
		>
			<div class="modal-header position-relative">
				<h1 class="modal-title fs-5">
					Edit task
				</h1>
				<button
					class="btn-close"
					type="button"
					data-bs-dismiss="modal"
				></button>
			</div>
			<div class="modal-body d-flex flex-column gap-3">
				<input
					class="form-control htmx-disable"
					type="text"
					name="description"
					placeholder="Enter task description"
					value="{{ .Task.Description }}"
				/>
				<div class="d-flex justify-content-between align-items-center">
					<div class="form-check">
						<input
							class="form-check-input htmx-disable"
							type="checkbox"
							name="read-only"
							value="true"
							id="status-checkbox"
							{{ if .Task.ReadOnly }} checked {{ end }}
						/>
						<label class="form-check-label" for="status-checkbox">
							Read only
						</label>
					</div>
					<div class="d-flex gap-2 align-items-center">
						User:
						<select class="form-select htmx-disable" name="user">
							{{ range .Users }}
								<option {{ if eq $.Task.User .Name }} selected {{ end }} value="{{ .Name }}">
									{{ .Name }}
								</option>
							{{ end }}
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-secondary"
					type="button"
					data-bs-dismiss="modal"
				>
					<i class="bi bi-x-lg"></i>
					Cancel
				</button>
				<button
					class="btn btn-primary htmx-disable"
					type="submit"
				>
					<i class="bi bi-check-lg" id="ok-btn-icon"></i>
					<div class="spinner-border spinner-border-sm"></div>
					Ok
				</button>
			</div>
		</form>
	</div>
{{ end }}
