#spinner:not(.htmx-request) {
  display: none;
}

.htmx-request + #task-table {
  display: none;
}

.htmx-indicator.modal-content:not(.htmx-request) {
  display: none;
}

i.htmx-request {
  display: none;
}

i:not(.htmx-request) + .spinner-border {
  display: none;
}
