/* Completely hide modal placeholders */
.htmx-indicator.modal-content:not(.htmx-request) {
  display: none;
}

/* Button icons */
i.htmx-request {
  display: none;
}

i:not(.htmx-request) + .spinner-border {
  display: none;
}
