/* Completely hide modal placeholders */
.modal-placeholder.modal-content:not(.htmx-request) {
	display: none;
}

#modal, #confirm-modal {
  backdrop-filter: blur(.25rem);
}

/* Button icons */
i.htmx-request {
	display: none;
}

i:not(.htmx-request) + .spinner-border {
	display: none;
}

/* HTMX-updateable elements */
#task-list, #filter-date {
	transition: filter .1s ease-in-out;
}

/* On task list update */
#task-list.htmx-request, #filter-date.htmx-request {
	filter: blur(.25rem);
}

/* Columns */
th.checkbox {
	width: 3rem;
}

th.task-id {
	width: 6rem;
}

th.datetime {
	width: 12rem;
}

th.status {
	width: 6rem;
}

th.actions {
	width: 6rem;
}
